.MessageBubble {
  display: flex;
  flex-direction: row;
  justify-content: left;

  .msg {
    display: inline-block;
    max-width: 60%;
    padding: 5px 10px;
    margin-bottom: 20px;
    background: var(--beige);
    border-radius: 5px;
    cursor: pointer;

    span {
      padding: 5px 20px 5px 0px;
    }

    .ref-question {
      padding: 5px;
      font-size: 0.8em;
      background: var(--light-grey);
    }
  }

  &.mine {
    justify-content: right;

    .msg {
      background: var(--light-grey);
      cursor: default;

      .ref-question {
        padding: 5px;
        font-size: 0.8em;
        background: var(--beige);
      }
    }
  }
}

.MessageBubbleBot {
  .msg {
    display: inline-block;
    padding: 10px 10px 5px 10px;
    margin-bottom: 20px;
    background: var(--light-yelow);
    border-radius: 5px;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;

      .bot {
        width: 77px;
        height: 77px;
        background: url('../../assets/bot-50.png') no-repeat;
        background-size: contain;
      }

      .speech-bubble {
        position: relative;
        background: var(--light-blue);
        padding: 10px;
        margin-left: 25px;
        border-radius: 10px;
        font-size: 0.8em;
        font-weight: 500;
        font-style: italic;
      }

      .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: var(--light-blue);
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -20px;
      }
    }

    .msg-block {
      margin-bottom: 10px;
    }

    .action {
      font-weight: normal;
    }
  }
}

.msg-ref {
  display: flex;
  flex-direction: row;
  justify-content: left;

  .msg {
    display: inline-block;
    max-width: 60%;
    padding: 5px 10px;
    background: var(--beige);
    border-radius: 5px;
    cursor: default;
  }

  .close-ref {
    position: relative;
    right: 20px;
    top: -10px;
  }

  .close-ref::after {
    content: '\00d7';
    font-size: 1.4em;
    font-weight: 300;
    cursor: pointer;
  }
}
