.Chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  .users-main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

    .users {
      border: 1px solid var(--blue);
      margin-right: 5px;
      padding: 10px;
      border-radius: 5px;
    }

    .main {
      flex: 1;
      border: 1px solid var(--blue);
      padding: 10px;
      border-radius: 5px;

      .msg {
        padding: 2px 4px;
        margin-bottom: 5px;
        border: 1px solid var(--blue);
        border-radius: 5px;
      }
    }
  }

  .message-send {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;

    .message {
      flex: 1;
      border: 1px solid var(--blue);
      border-radius: 5px;
      margin-right: 5px;
      padding: 0px 10px;
      outline: none;
    }
  }
}
